<%- include('./partials/header') %>

<h1>Welcome to The Thirsty Mongoose!</h1>
<a href="/bars"><img src="https://farm3.staticflickr.com/2839/9310313990_03d97f16bf.jpg" alt="bars"></a>
<a href="/beers"><img src="https://images-na.ssl-images-amazon.com/images/I/A183cuIqPJL._SX355_.jpg" alt=""></a>


<%- include('./partials/footer') %>